I have 4 files :
- Monster Jobs data (web scraping)
- Talent Jobs fata (web scraping)
- Naukri.com Jobs data (Kaggle Dataset) - columns need to be added like industry, job_position_level
- Linkedln Jobs (Kaggle Dataset) - columns need to be added like industry, job_position_level and other extra can be ignored!

To do -
- Clean the company names like 'accenture' and 'Accenture' are both same.
- Add job Id to the datasets if not there. (Optional)
- Treat missing rows and data

In [5]:
import pandas as pd

file_path = '../data/raw/'

talent_df = pd.read_csv(file_path+'jobs_talent_data.csv', index_col = 'job_id')
monster_df = pd.read_csv(file_path+'jobs_monster_data.csv', index_col = 'job_id')
naukri_df = pd.read_csv(file_path+'Naukridotcom_Job_postings.csv', usecols = ['Job Title', 'Company', 'Location', 'Experience'])
linkedln_df = pd.read_csv(file_path+'linkedln_jobs_india.csv', index_col = 'id', usecols = ['id', 'title', 'companyName', 'experienceLevel', 'sector', 'city', 'state'])

**Headers** -
- Job Title
- Company Name
- Experience (in years) -- will be the digits like 1, 6, 3.6, etc
- Experience Category -- Junior, Entry, Senior, etc
- City
- State
- Country
- Industry (Software Development, Cloud, Management, etc)
- Source

In [6]:
naukri_df.head(2)
#naukri_df[naukri_df['experience_range'] == '0 Years']

,Job Title,Company,Experience,Location
0,Asst. Manager- Civil Maintenance (Retail),DMart,0-5 Yrs,"Mumbai, Jaipur, Bengaluru"
1,GN - Management Consulting - Life Sciences - A...,Accenture,0-1 Yrs,"Mumbai, Gurugram, Bengaluru"

In [7]:
linkedln_df.head(2)
#linkedln_df[linkedln_df['sector'].isna() == True]

,title,companyName,experienceLevel,sector,city,state
id,,,,,,
3800928381,Front-end Engineer/Web Developer (SDE 1 &amp; 2),BOX8,Entry level,Staffing and Recruiting,Bengaluru,Karnataka
3800929078,Android Developer-SDE 1 &amp; 2(Software Devel...,BOX8,Entry level,Staffing and Recruiting,Bengaluru,Karnataka

In [8]:
talent_df
#talent_df[talent_df['experience_range'] == '0 Years']

,job_title,company_name,location,source
job_id,,,,
TAL0001,Big Data Developer,LTIMindtree,"Pune, Maharashtra, India",Talent
TAL0002,Big Data Engineer,Saaki Argus & Averil Consulting,"Hyderabad, Telangana, India",Talent
TAL0003,Big Data Developer,Live Connections,"Bengaluru, Karnataka, India",Talent
TAL0004,Big Data Developer,BDNT Labs Private Limited,"Pune, Maharashtra, India",Talent
TAL0005,BIg data,Zodiac HR,"Mumbai, Maharashtra, India",Talent
...,...,...,...,...
TAL0749,Automation,Isoftronics,"Chennai, Tamil Nadu, India",Talent
TAL0750,Automation Test Engineer,Synechron,"Chennai, IN",Talent
TAL0751,Automation Tester (Connex),myGwork,"Chennai, India",Talent
TAL0752,Delta V Engineer / Lead Developer,Capgemini,"Ghaziabad, IN",Talent
TAL0753,Delta V Lead Developer - Location : Pune / Ban...,Capgemini Engineering,"Ghaziabad, IN",Talent

In [9]:
monster_df

,job_title,company_name,location,experience,source
job_id,,,,,
MON0001,Analytics - Senior - Python Full Stack Developer,Ernst and young LLP,Gurugram,3 - 8 Years,Monster
MON0002,Clinical Data Python Developer,Ska Digitransform Consulting LLC,Remote,3 - 5 Years,Monster
MON0003,Fullstack Developer Python,Nokia India Private Limited,Noida,6 - 11 Years,Monster
MON0004,Analytics - Senior - Python Full Stack Developer,Ernst and young LLP,Gurugram,3 - 6 Years,Monster
MON0005,Python Software Developer,Infosys Limited,"Delhi, Chennai, Bengaluru",3 - 8 Years,Monster
...,...,...,...,...,...
MON0691,Gcp Data Engineer,Infosys Limited,Gurugram,7 - 12 Years,Monster
MON0692,Azure Data Engineer with Databricks,Tata Consultancy Services Limited,"Kolkata, Noida",4 - 10 Years,Monster
MON0693,Data Engineer -Support,Coforge,"Noida, Mumbai, Pune",1 - 3 Years,Monster
MON0694,Data Engineer - PySpark,Sulbikar Abbas (Proprietor Of Versatile Consul...,Remote,3 - 5 Years,Monster
MON0695,"Snowflake Data Engineer with ADB, Python",Coforge,"Noida, Pune",3 - 6 Years,Monster

TO do... -
- Add job Ids to Naukri dataframe and make it as index (but I think its fine as it is also as all other have job ids)
- Clean and standardize the fields in all datafiles like Company name, like Accenture and accenture or accenture private lmt.
- Seperate location to city and state and country (as of now its India) in Naukri, monster, talent
- Add the experience field logic to talent and naukri and standardize for all.
- Add the field source in linkedln and naurki df
- Add the field job position or job level in all df (based on experience years or title)
- Add the sector/ industy to all three df except linkedln but check as must be standarized.
- Rename all columns to same names and in same sequence maybe for merging

In [10]:
linkedln_df['source'] = 'Linkedln'
naukri_df['source'] = 'Naukri'

In [11]:
# This method calculate years of experience needed based on job title if exp is not given
def extract_experience_years_range(title, exp = ''):
    title = title.lower()
    exp = exp.lower()

    # Check if exp values are valid
    if any(term in exp for term in ['years', 'yrs', 'yr']):
        return exp
    
    # Approximate based on seniority terms
    if any(term in exp for term in ['president', 'ceo', 'cto', 'executive']) or any(term in title for term in ['president', 'ceo', 'cto', 'executive']):
        return '18-25 Years'
    elif any(term in exp for term in ['vice president', 'vp', 'vice']) or any(term in title for term in ['vice president', 'vp', 'vice']):
        return '15-20 Years'
    elif any(term in exp for term in ['director', 'head', 'chief']) or any(term in title for term in ['director', 'head', 'chief']):
        return '11-15 Years'
    elif any(term in exp for term in ['manager']) or any(term in title for term in ['manager']):
        return '6-10 Years'
    elif any(term in exp for term in ['specialist', 'administrator', 'scientist']) or any(term in title for term in ['scientist', 'specialist', 'administrator']):
        return '5-8 Years'
    elif any(term in exp for term in ['architect']) or any(term in title for term in ['architect']):
        return '5-10 Years'
    elif any(term in exp for term in ['senior', 'lead', 'sr', 'sr.']) or any(term in title for term in ['senior', 'lead', 'sr', 'sr.']):
        return '4-7 Years'
    elif any(term in exp for term in ['analyst']) or any(term in title for term in ['analyst']):
        return '2-5 Years'
    elif any(term in exp for term in ['mid', 'associate']) or any(term in title for term in ['mid', 'associate']):
        return '2-3 Years'
    elif any(term in exp for term in ['jr', 'jr.', 'junior', 'entry', 'graduate', 'intern', 'fresher', 'internship']) or any(term in title for term in ['jr', 'jr.','internship', 'junior', 'entry', 'graduate', 'intern', 'fresher']):
        return '0 Years'

    return '1-5 Years' # Unknown

In [12]:
talent_df['experience_range'] = talent_df['job_title'].apply(extract_experience_years_range)
monster_df['experience_range'] = monster_df.apply(lambda row: extract_experience_years_range(row['job_title'], row['experience']), axis=1)
naukri_df['experience_range'] = naukri_df.apply(lambda row: extract_experience_years_range(row['Job Title'], row['Experience']), axis=1)
linkedln_df['experience_range'] = linkedln_df.apply(lambda row: extract_experience_years_range(row['title'], row['experienceLevel']), axis=1)

In [13]:
talent_df['experience_range'] = talent_df['job_title'].apply(extract_experience_years_range)

In [14]:
monster_df['experience_range'] = monster_df.apply(lambda row: extract_experience_years_range(row['job_title'], row['experience']), axis=1)

In [15]:
naukri_df['experience_range'] = naukri_df.apply(lambda row: extract_experience_years_range(row['Job Title'], row['Experience']), axis=1)

In [16]:
linkedln_df['experience_range'] = linkedln_df.apply(lambda row: extract_experience_years_range(row['title'], row['experienceLevel']), axis=1)

In [17]:
naukri_df['experience_range'].unique()

array(['0-5 yrs', '0-1 yrs', '2-7 yrs', '3-8 yrs', '2-5 yrs', '8-13 yrs',
       '4-9 yrs', '3-5 yrs', '11-16 yrs', '10-12 yrs', '4-8 yrs',
       '10-16 yrs', '10-15 yrs', '5-10 yrs', '12-16 yrs', '1-6 yrs',
       '2-6 yrs', '1-5 yrs', '13-16 yrs', '7-10 yrs', '3-7 yrs',
       '14-20 yrs', '8-12 yrs', '8-10 yrs', '13-18 yrs', '11-14 yrs',
       '5-7 yrs', '1-4 yrs', '0-2 yrs', '4-7 yrs', '5-9 yrs', '15-20 yrs',
       '7-11 yrs', '10-20 yrs', '7-12 yrs', '6-11 yrs', '12-15 yrs',
       '0 Years', '0-4 yrs', '0-3 yrs', '6-10 yrs', '12-17 yrs',
       '6-10 Years', '6-8 yrs', '5-8 yrs', '6-9 yrs', '10-14 yrs',
       '1-5 Years', '3-6 yrs', '3-10 yrs', '8-11 yrs', '18-25 Years',
       '4-5 yrs', '2-4 yrs', '12-14 yrs', '0-7 yrs', '7-9 yrs',
       '17-26 yrs', '12-13 yrs', '11-15 yrs', '10-13 yrs', '2-10 yrs',
       '3-9 yrs', '4-7 Years', '1-3 yrs', '4-10 yrs', '9-11 yrs',
       '5-8 Years', '16-26 yrs', '9-14 yrs', '0 yrs', '2-3 Years',
       '2-5 Years', '9-12 yrs', '12-18 yrs', '9-13 yrs', '3-4 yrs',
       '2-3 yrs', '4-6 yrs', '7-13 yrs', '10-17 yrs', '10-18 yrs',
       '0-9 yrs', '0-6 yrs', '5-6 yrs', '11-13 yrs', '15-19 yrs',
       '0-8 yrs', '8-9 yrs', '9-17 yrs', '3-13 yrs', '0-10 yrs',
       '13-15 yrs', '18-20 yrs', '15-20 Years', '1-10 yrs', '5-10 Years',
       '11-15 Years', '6-14 yrs', '12-20 yrs', '18-23 yrs', '5-13 yrs',
       '5-12 yrs', '7-15 yrs', '14-16 yrs', '1-11 yrs', '1-9 yrs',
       '4-12 yrs', '20-25 yrs', '16-25 yrs', '1-2 yrs', '1-8 yrs',
       '9-15 yrs', '2-8 yrs', '7-8 yrs', '9-10 yrs', '6-7 yrs',
       '5-11 yrs', '6-12 yrs', '15-18 yrs', '8-15 yrs', '11-17 yrs',
       '17-21 yrs', '7-14 yrs', '15-17 yrs', '13-14 yrs', '20-22 yrs',
       '15-16 yrs', '15-24 yrs', '12-22 yrs', '11-20 yrs', '6-13 yrs',
       '13-20 yrs', '10-11 yrs', '8-14 yrs', '5-15 yrs', '4-11 yrs',
       '3-11 yrs', '2-9 yrs', '14-19 yrs', '4-14 yrs', '23-25 yrs',
       '15-25 yrs', '11-18 yrs', '17-18 yrs', '7 yrs', '5-25 yrs',
       '8-21 yrs', '16-20 yrs', '1 yrs', '9-16 yrs'], dtype=object)

In [18]:
# I need to calculate the experience in years based on experince range for all datasets
import re
import numpy as np

def convert_exp_range_to_years(exp_str):
    if pd.isnull(exp_str):
        return np.nan

    exp_str = exp_str.lower().strip()

    # Match ranges like '2-4 years', '1 - 3 yrs'
    range_match = re.findall(r'(\d+)\s*[-–]\s*(\d+)', exp_str)
    if range_match:
        low, high = map(int, range_match[0])
        return round((low + high) / 2, 1)

    # Match single year like '0 years' or '5 yrs'
    single_match = re.search(r'(\d+)', exp_str)
    if single_match:
        return float(single_match.group(1))

    return np.nan

In [19]:
talent_df['Experience (In Years)'] = talent_df['experience_range'].apply(convert_exp_range_to_years)
monster_df['Experience (In Years)'] = monster_df['experience_range'].apply(convert_exp_range_to_years)
naukri_df['Experience (In Years)'] = naukri_df['experience_range'].apply(convert_exp_range_to_years)
linkedln_df['Experience (In Years)'] = linkedln_df['experience_range'].apply(convert_exp_range_to_years)

In [20]:
def categorize_experience(years):
    if years < 1:
        return 'Entry'
    elif years <= 3:
        return 'Junior'
    elif years <= 6:
        return 'Mid-Level'
    elif years <= 8:
        return 'Senior'
    elif years <= 12:
        return 'Lead'
    elif years <= 15:
        return 'Manager'
    else:
        return 'Executive'

In [21]:
talent_df['Experience Category'] = talent_df['Experience (In Years)'].apply(categorize_experience)
monster_df['Experience Category'] = monster_df['Experience (In Years)'].apply(categorize_experience)
naukri_df['Experience Category'] = naukri_df['Experience (In Years)'].apply(categorize_experience)
linkedln_df['Experience Category'] = linkedln_df['Experience (In Years)'].apply(categorize_experience)

In [22]:
#  a method to determine the industry of the job as it will be helpful during data analytics!!
def categorize_industry(job_title, sector = ''):
    title = job_title.lower()
    sector = str(sector).lower()
    
    if any(keyword in sector for keyword in ['mechanical', 'industrial', 'consumer', 'motor', 'manufacturing', 'retail', 'furniture', 'wholesale', 'building', 'food', 'education', 'sports', 'telecommunications', 'construction', 'civil', 'coaching', 'teach', 'fashion']):
        return 'Other'
    
    if any(keyword in title for keyword in ['gen ai', 'generative ai', 'llm', 'artificial intelligence', 'ai ', 'machine learning', 'ml ']):
        return 'Artificial Intelligence / Machine Learning'
    elif any(keyword in title for keyword in ['cloud', 'aws', 'azure', 'gcp']):
        return 'Cloud'
    elif any(keyword in title for keyword in ['data scientist', 'data analyst', 'analytics', 'data', 'etl']):
        return 'Data Science / Analytics'
    elif any(keyword in title for keyword in ['web developer', 'web development', 'front end', 'frontend', 'html', 'css', 'javascript', 'react', 'web designer']):
        return 'Web Development'
    elif 'devops' in title:
        return 'DevOps'
    elif 'qa' in title or 'quality assurance' in title or 'test' in title or 'tester' in title:
        return 'Quality Assurance / Testing'
    elif any(keyword in title for keyword in ['software', 'developer', 'engineer', 'backend', 'frontend', 'full stack', 'architect', 'designer']):
        return 'Software Development'
    elif any(keyword in title for keyword in ['accountant', 'finance', 'auditor', 'chartered', 'retail']):
        return 'Finance'
    elif any(keyword in title for keyword in ['marketing', 'seo', 'digital']):
        return 'Marketing'
    elif any(keyword in title for keyword in ['sales', 'business development', 'business analyst', 'business']):
        return 'Buisness Analytics'
    elif any(keyword in title for keyword in ['consulting', 'consultant']):
        return 'Consulting'
    elif 'manager' in title or 'management' in title or title.endswith(' manager'):
        return 'Management'
    elif any(keyword in title for keyword in ['hr', 'recruiter', 'talent', 'recruiting', 'recruit']):
        return 'Human Resources'
    elif any(keyword in title for keyword in ['technical', 'it ', 'technical support']):
        return 'Information Technology'
    else:
        return 'Other'

In [23]:
talent_df['Industry'] = talent_df['job_title'].apply(categorize_industry)
monster_df['Industry'] = monster_df['job_title'].apply(categorize_industry)
naukri_df['Industry'] = naukri_df['Job Title'].apply(categorize_industry)
linkedln_df['Industry'] = linkedln_df.apply(lambda row: categorize_industry(row['title'], row['sector']), axis=1)

In [24]:
# Lets keep this sector and we will determine industry based on title or sector if possible!
linkedln_df['sector'].unique()
#linkedln_df[linkedln_df['sector'] == 'IT Services and IT Consulting and Motor Vehicle Manufacturing']
#I need to add country as well to linkedln...

array(['Staffing and Recruiting', 'Information Technology & Services',
       'Software Development',
       'IT Services and IT Consulting and Technology, Information and Internet',
       'Motor Vehicle Manufacturing',
       'IT Services and IT Consulting, Software Development, and Technology, Information and Internet',
       'Information Services', 'IT Services and IT Consulting',
       'Software Development, Technology, Information and Internet, and IT System Custom Software Development',
       'Technology, Information and Internet',
       'Technology, Information and Media',
       'Information Services and Technology, Information and Internet',
       'Advertising Services and Marketing Services',
       'Banking, Financial Services, and Accounting',
       'Software Development, Technology, Information and Internet, and Technology, Information and Media',
       'Internet Publishing', 'Banking', 'Internet Marketplace Platforms',
       'IT Services and IT Consulting, Software Development, and IT System Custom Software Development',
       'Human Resources Services', 'Financial Services',
       'Pharmaceutical Manufacturing', 'Retail Groceries', nan,
       'Software Development and Financial Services',
       'Software Development and Medical Practices',
       'Education Administration Programs',
       'Transportation, Logistics, Supply Chain and Storage',
       'Business Consulting and Services', 'Advertising Services',
       'Marketing Services', 'Blockchain Services',
       'IT Services and IT Consulting and Motor Vehicle Manufacturing',
       'IT Services and IT Consulting, Manufacturing, and Financial Services',
       'Hospitals and Health Care',
       'Spectator Sports and Entertainment Providers',
       'IT Services and IT Consulting, IT System Training and Support, and IT System Data Services',
       'Banking and Financial Services',
       'Software Development and Technology, Information and Internet',
       'Software Development and Oil and Gas',
       'Software Development, Technology, Information and Internet, and Data Infrastructure and Analytics',
       'Chemical Manufacturing, Biotechnology Research, and Pharmaceutical Manufacturing',
       'Software Development, Broadcast Media Production and Distribution, and Entertainment Providers',
       'Computer Hardware Manufacturing',
       'IT System Custom Software Development',
       'Non-profit Organizations',
       'Food and Beverage Services and Manufacturing',
       'Aviation and Aerospace Component Manufacturing, Banking, and Airlines and Aviation',
       'Banking and Insurance', 'Telecommunications and Banking',
       'Information Services and Software Development',
       'IT Services and IT Consulting and Software Development',
       'IT Services and IT Consulting, Food and Beverage Services, and Data Infrastructure and Analytics',
       'Data Infrastructure and Analytics',
       'IT Services and IT Consulting, Marketing Services, and Business Consulting and Services',
       'Marketing Services and Internet Publishing',
       'IT Services and IT Consulting and Business Consulting and Services',
       'IT Services and IT Consulting, Information Services, and Technology, Information and Media',
       'Software Development, Financial Services, and Investment Banking',
       'Software Development and Consumer Services',
       'IT Services and IT Consulting, Software Development, and Computer Networking Products',
       'Manufacturing',
       'Technology, Information and Internet and Manufacturing',
       'Food and Beverage Services, Manufacturing, and Beverage Manufacturing',
       'Appliances, Electrical, and Electronics Manufacturing',
       'Retail Luxury Goods and Jewelry', 'Retail',
       'Retail and Retail Luxury Goods and Jewelry',
       'Telecommunications, Financial Services, and Real Estate',
       'Wholesale Building Materials, Furniture and Home Furnishings Manufacturing, and Retail Building Materials and Garden Equipment',
       'Furniture and Home Furnishings Manufacturing, Retail, and Textile Manufacturing',
       'Appliances, Electrical, and Electronics Manufacturing, Food and Beverage Services, and Consumer Services',
       'Medical Equipment Manufacturing', 'Travel Arrangements',
       'Mechanical Or Industrial Engineering', 'Executive Offices',
       'Real Estate', 'Wholesale Building Materials',
       'Retail Groceries, Food and Beverage Retail, and Retail',
       'Community Services', 'Building Construction and Manufacturing',
       'Telecommunications', 'Food and Beverage Services',
       'Security and Investigations', 'Hospitality', 'Insurance',
       'Book and Periodical Publishing, Technology, Information and Media, and Media and Telecommunications',
       'Food and Beverage Manufacturing',
       'Advertising Services, Broadcast Media Production and Distribution, and Technology, Information and Media',
       'Higher Education',
       'Food and Beverage Services, Food and Beverage Manufacturing, and Manufacturing',
       'Food and Beverage Services and Food and Beverage Manufacturing',
       'Internet Marketplace Platforms and Telecommunications',
       'Health, Wellness & Fitness',
       'Personal Care Product Manufacturing',
       'Consumer Services, Retail, and Textile Manufacturing',
       'Entertainment Providers', 'E-Learning Providers',
       'Food and Beverage Services, Retail Apparel and Fashion, and Retail',
       'Events Services', 'Media and Telecommunications',
       'Graphic Design',
       'Advertising Services, Media Production, and Events Services',
       'Apparel & Fashion', 'Wellness and Fitness Services', 'Animation',
       'Online Audio and Video Media',
       'Wholesale Building Materials and Building Construction',
       'Photography',
       'Internet Marketplace Platforms, Travel Arrangements, and Airlines and Aviation',
       'Manufacturing and Oil and Gas',
       'Dairy Product Manufacturing and Food and Beverage Services',
       'IT Services and IT Consulting, Outsourcing and Offshoring Consulting, and Business Consulting and Services',
       'Broadcast Media Production and Distribution',
       'Information Services, Software Development, and Technology, Information and Internet',
       'IT Services and IT Consulting, Software Development, and Business Consulting and Services',
       'Interior Design, Furniture and Home Furnishings Manufacturing, and Real Estate',
       'Higher Education, E-Learning Providers, and Education',
       'Information Services, Real Estate, and Hospitality',
       'Biotechnology Research and Pharmaceutical Manufacturing',
       'Transportation, Logistics, Supply Chain and Storage and Truck Transportation',
       'Venture Capital and Private Equity Principals, Financial Services, and Investment Banking',
       'Chemical Manufacturing, Oil and Gas, and Engineering Services',
       'Accounting', 'Human Resources',
       'Chemical Raw Materials Manufacturing and Chemical Manufacturing',
       'Higher Education and Education Administration Programs',
       'Construction', 'Retail Apparel and Fashion',
       'Oil, Gas, and Mining, Boilers, Tanks, and Shipping Container Manufacturing, and Maritime Transportation',
       'Appliances, Electrical, and Electronics Manufacturing, Electrical Equipment Manufacturing, and Fire Protection',
       'Banking, Human Resources Services, and Airlines and Aviation',
       'Market Research', 'Computer Games',
       'Retail Apparel and Fashion and Retail',
       'Higher Education, Education Administration Programs, and Professional Training and Coaching',
       'Biotechnology', 'Design Services', 'Consumer Services',
       'Broadcast Media Production and Distribution and Wholesale Petroleum and Petroleum Products',
       'IT Services and IT Consulting, Software Development, and Internet Marketplace Platforms',
       'Internet Marketplace Platforms, Technology, Information and Media, and Computer Games',
       'Financial Services, Hospitals and Health Care, and Pharmaceutical Manufacturing',
       'Staffing and Recruiting, Financial Services, and International Trade and Development',
       'IT Services and IT Consulting, Transportation, Logistics, Supply Chain and Storage, and IT System Custom Software Development',
       'Investment Banking', 'Telecommunications and Financial Services',
       'Fundraising, Financial Services, and Investment Banking',
       'Retail and Accounting',
       'Investment Advice, Investment Banking, and Investment Management',
       'Investment Management',
       'Venture Capital and Private Equity Principals and Financial Services',
       'Banking, Financial Services, and Investment Banking',
       'Industrial Machinery Manufacturing',
       'Business Consulting and Services, Real Estate, and Investment Banking',
       'Commercial Real Estate',
       'IT Services and IT Consulting, Telecommunications, and Financial Services',
       'Construction, Civil Engineering, and Environmental Services',
       'Outsourcing and Offshoring Consulting',
       'Capital Markets, Investment Advice, and Financial Services',
       'Research Services and Financial Services',
       'IT Services and IT Consulting, Research Services, and Financial Services',
       'Transportation, Logistics, Supply Chain and Storage, Manufacturing, and Retail',
       'Financial Services and Business Consulting and Services',
       'Construction and Civil Engineering',
       'Chemical Manufacturing and Manufacturing',
       'Professional Training and Coaching and Human Resources Services',
       'IT Services and IT Consulting, Information Services, and Business Consulting and Services',
       'Wholesale Building Materials, Manufacturing, and Retail Building Materials and Garden Equipment',
       'IT Services and IT Consulting, Human Resources Services, and Business Consulting and Services',
       'Chemical Manufacturing',
       'Personal Care Product Manufacturing and Manufacturing',
       'IT Services and IT Consulting, Retail, and Business Consulting and Services',
       'Appliances, Electrical, and Electronics Manufacturing, Computers and Electronics Manufacturing, and Manufacturing',
       'Outsourcing and Offshoring Consulting and Business Consulting and Services',
       'Biotechnology Research',
       'Retail Apparel and Fashion, Retail, and Retail Luxury Goods and Jewelry',
       'Education',
       'Transportation, Logistics, Supply Chain and Storage, Freight and Package Transportation, and Airlines and Aviation',
       'IT Services and IT Consulting, Staffing and Recruiting, and Human Resources Services',
       'Building Construction, Industrial Machinery Manufacturing, and Manufacturing',
       'IT Services and IT Consulting, Automation Machinery Manufacturing, and Motor Vehicle Manufacturing',
       'Food and Beverage Manufacturing, Manufacturing, and Beverage Manufacturing',
       'Restaurants, Food and Beverage Services, and Retail',
       'Non-profit Organizations, Marketing Services, and Financial Services',
       'Staffing and Recruiting and Business Consulting and Services',
       'Banking, Insurance, and Investment Banking',
       'Information Services, Financial Services, and Investment Banking',
       'Appliances, Electrical, and Electronics Manufacturing and Semiconductor Manufacturing',
       'Retail Apparel and Fashion, Manufacturing, and Textile Manufacturing',
       'Semiconductor Manufacturing',
       'Retail Building Materials and Garden Equipment',
       'Motor Vehicle Parts Manufacturing',
       'IT Services and IT Consulting and Human Resources Services',
       'Construction, Civil Engineering, and Design Services',
       'Advertising Services, Online Audio and Video Media, and Technology, Information and Internet',
       'Truck Transportation', 'Computer and Network Security',
       'Media Production', 'Public Relations and Communications Services',
       'Administrative and Support Services',
       'Retail Apparel and Fashion, Internet Marketplace Platforms, and Retail Luxury Goods and Jewelry',
       'Professional Training and Coaching',
       'Book and Periodical Publishing',
       'Fundraising and Hospitals and Health Care',
       'Construction, Building Construction, and Industrial Machinery Manufacturing',
       'Automation Machinery Manufacturing and Oil and Gas',
       'Automation Machinery Manufacturing', 'Engineering Services',
       'Defense and Space Manufacturing, Aviation and Aerospace Component Manufacturing, and Airlines and Aviation',
       'Semiconductor Manufacturing and Manufacturing',
       'Civil Engineering, Chemical Manufacturing, and Executive Offices',
       'Oil and Gas', 'Defense and Space Manufacturing',
       'Business Supplies & Equipment',
       'Nanotechnology Research, Semiconductor Manufacturing, and Manufacturing',
       'Renewable Energy Semiconductor Manufacturing',
       'Civil Engineering and Business Consulting and Services',
       'Aviation and Aerospace Component Manufacturing',
       'Plastics Manufacturing', 'Research Services',
       'Automation Machinery Manufacturing and Engineering Services',
       'Textile Manufacturing', 'Railroad Equipment Manufacturing',
       'Manufacturing, Oil and Gas, and Services for Renewable Energy',
       'Appliances, Electrical, and Electronics Manufacturing, Aviation and Aerospace Component Manufacturing, and Airlines and Aviation',
       'HVAC and Refrigeration Equipment Manufacturing',
       'Motor Vehicle Parts Manufacturing, Automation Machinery Manufacturing, and Motor Vehicle Manufacturing'],
      dtype=object)

In [25]:
def extract_cities_from_location(location_str):
    """Returns a list of all known cities found in the location string."""
    cleaned = clean_location_string(location_str)
    parts = re.split(r'\s*/\s*', cleaned)

    found_cities = set()

    for part in parts:
        for city in known_cities:
            if city in part:
                found_cities.add(city.capitalize())

    return list(found_cities)

In [26]:
import pandas as pd
import json
import re

# 1. Load your hierarchical city-state JSON
with open('city_state_map.json', 'r', encoding='utf-8') as f:
    city_state_map = json.load(f)

# 2. Flatten city list with state
city_to_state = {
    city.lower(): state for state, cities in city_state_map.items() for city in cities
}

REMOTE_TERMS = {'remote', 'work from home', 'wfh', 'pan india'}

# Common corrections for alternate/misspelled city names
city_normalization_map = {
    'gurugram': 'gurgaon',
    'bengaluru': 'bangalore',
    'bangalore': 'bengaluru',
    'new delhi': 'delhi',
    'delhi': 'new delhi',
    'ncr': 'delhi',
    'gurgaon': 'gurgaon',
    'banglore': 'bengaluru'
        }

# 3. Define a function to extract all cities from a raw location string
def extract_cities_and_states(location_str):
    
    if not isinstance(location_str, str):
        return [np.nan], [np.nan], [np.nan]

    parts = re.split(r'[\/,|-]', location_str.lower())
    matched_cities = []
    matched_states = []
    country = []

    for part in parts:
        part_cleaned = part.strip()
        # Clean the part in case any additional ()
        part_cleaned = re.sub(r'\(.*?\)', '', part_cleaned).strip()
        
        # Hndling remote location cases
        if part_cleaned in REMOTE_TERMS:
            matched_cities.append('Remote')
            matched_states.append('Remote')
            country.append('Remote')
            
        # Normalize known variants
        if part_cleaned not in city_to_state:
            part_cleaned = city_normalization_map.get(part_cleaned, part_cleaned)
                
        if part_cleaned in city_to_state:
            matched_cities.append(part_cleaned.title())
            matched_states.append(city_to_state[part_cleaned])
            country.append('India')
        # Check if state exists in location:
        elif part_cleaned in city_state_map:
            matched_cities.append(np.nan)
            matched_states.append(part_cleaned.title())
            country.append('India')
        else:
            for city in city_to_state:
                if city in part_cleaned:
                    matched_cities.append(city)
                    matched_states.append(city_to_state[city])
                    country.append('India')
            
    if len(matched_cities) == 0:
        if 'india' in location_str.lower():
            return [np.nan],[np.nan], ['India']
        return [np.nan], [np.nan], [np.nan]
    return matched_cities, matched_states, country

In [27]:
# 5. Apply city extraction
talent_df[['City', 'State', 'Country']] = talent_df['location'].apply(lambda loc: pd.Series(extract_cities_and_states(loc)))
naukri_df[['City', 'State', 'Country']] = naukri_df['Location'].apply(lambda loc: pd.Series(extract_cities_and_states(loc)))
monster_df[['City', 'State', 'Country']] = monster_df['location'].apply(lambda loc: pd.Series(extract_cities_and_states(loc)))
linkedln_df[['City', 'State', 'Country']] = linkedln_df['city'].apply(lambda loc: pd.Series(extract_cities_and_states(loc)))

In [28]:
naukri_df[['City', 'State', 'Country']] = naukri_df['Location'].apply(lambda loc: pd.Series(extract_cities_and_states(loc)))

In [29]:
monster_df[['City', 'State', 'Country']] = monster_df['location'].apply(lambda loc: pd.Series(extract_cities_and_states(loc)))

In [30]:
linkedln_df[['City', 'State', 'Country']] = linkedln_df['city'].apply(lambda loc: pd.Series(extract_cities_and_states(loc)))

In [31]:
# 6. Explode into multiple rows if multiple cities exist
talent_df = talent_df.explode(['City', 'State', 'Country'])
naukri_df = naukri_df.explode(['City', 'State', 'Country'])
monster_df = monster_df.explode(['City', 'State', 'Country'])
linkedln_df = linkedln_df.explode(['City', 'State', 'Country'])

In [32]:
linkedln_df['companyName'].unique()
naukri_df['Company'].unique()
talent_df['company_name'].unique()
monster_df['company_name'].unique()

array(['Ernst and young LLP', 'Ska Digitransform Consulting LLC',
       'Nokia India Private Limited', 'Infosys Limited',
       'Capgemini Technology Services India Limited',
       'Aditya Birla Management Corporation Private Limited',
       'Staffice Global Private Limited',
       'TELUS International Philippines Inc.',
       'Wipzo Systech Private Limited', 'Right Advisors Private Limited',
       'ITC Infotech India Limited', 'PwC India', 'Publicis Sapient',
       'Z5', 'Objectwin Technology India Private Limited',
       'Robotics Technologies', 'Cybage Software Private Limited',
       'Birlasoft Limited', 'Tata Consultancy Services Limited',
       'Ifintalent Global Private Limited', 'Bank of America', 'SBI Card',
       'Axtria India Private Limited', 'Diensten Tech Limited',
       'Panapps International Private Limited', 'Number 11',
       'Havells India Ltd', 'BlackRock', 'Paytm Payments Bank',
       'Bounteous x Accolite',
       'Majesco Software And Solutions India Private Limited',
       'Canterr It Services India Private Limited',
       'Nova Human Resources Outsourcing Private Limited',
       'Amazon Development Centre (India) Private Limited',
       'LTIMindtree Limited', 'GlobalLogic Inc', 'Apple', 'Workassist',
       'LivePerson', 'Electronic Arts (EA)',
       'Flexi Careers India Private Limited', 'Evernorth Health Services',
       'Shantha Shankar ( Proprietor Of Koral Human Resource Consultants)',
       'PS Collaborations',
       'Sulbikar Abbas (Proprietor Of Versatile Consultancy)',
       'Cognizant Technology Solutions India Pvt Ltd',
       'SP Staffing Services Private Limited', 'ValueLabs LLP',
       'Thales India Private Limited', 'Gainwell Technologies LLC',
       'Thales', 'Viionn Labs', 'KPMG', 'Thales Group', "Lowe's India",
       'Gainwell Technologies', 'Genpact', 'ZETA',
       'Deepak Kushal Kunder ( Proprietor of Vibrantzz Management Services)',
       'Capco', 'Wipro Limited', '3i Infotech Limited',
       'PricewaterhouseCoopers Professional Services LLP',
       '**********\r\n            Company name confidential',
       'Whisk Software Private Limited', 'Damco Solutions Limited',
       'Kapstag Workforce Solutions Private Limited',
       'Tredence Analytics Solutions Private Limited',
       'NTT DATA Global Delivery Services Limited', 'Oracle',
       'JP Morgan Chase & Co.', 'Infogain Pte Ltd',
       'Nexturn India Private Limited',
       'EAGateway Services India Private Limited',
       'Vaishali Sainath Navle (Proprietor Of Axim Digitech)',
       'Luxoft India Llp', 'Coders Brain Technology Private Limited',
       'Amazon Web Services (AWS)', 'Groundtruth India Private Limited',
       'Rackspace Technology', 'Cvent', 'Uplers', 'ExxonMobil',
       'Pitch And Hire Recruiters Private Limited',
       'HCL Technologies Limited', 'Aspire Systems India Private Limited',
       'Mphasis', 'Airtel', 'SBI Payments Services Private Limited',
       'A P Moller Maersk', 'Metlife', 'Juniper Networks', 'Aveva',
       'Silicon Labs Pvt.Ltd', 'Vodafone',
       'Learning Candid India Private Limited', 'Cummins India Limited',
       'Schola', 'Jobgether', 'Mobile Programming LLC',
       'Analytics Training Hub', 'Careem', 'Deutsche Bank', 'Capgemini',
       'Thomson Reuters', 'Tableau', 'Innominds Software Inc',
       'Acuity IT Solutions Private Limited', 'Foundit',
       'Yash Technologies Private Limited',
       'Changeleaders Consulting Private Limited',
       'Synechron Technologies Private Limited', 'Zorba AI',
       'CodersBrain', 'EXL IT service management', 'Ernst & Young',
       'Lancesoft India Private Limited',
       'Iote Technologies Private Limited',
       'Vertiscript Global It Services Private Limited',
       'Alphacom Systems and Solutions Priavte Limited',
       'PASSIONMOJO-PHRCRM', 'HCDS Technologies', 'Flutter International',
       'ARRISE powering Pragmatic Play', 'UPHILL HR Services',
       'Vintage Home Fashions', 'Hikeapp', 'PW (PhysicsWallah)',
       'Cuemath', 'Alkem Laboratories Ltd', 'Sanofi',
       'Impact Hr  Km Solutions',
       'Parameshwari Shanmugam (Proprietor Of Dheehire Consultancy Services)',
       'Sudesh Rani (Proprietor of Makkar Institute)',
       'Violet Infosystems Private Limited', 'ToothSi',
       'Kroll Associates India Private Limited',
       'Deloitte Consulting India Private Limited', 'Cadbury',
       'Greenhandle', 'The CAD Co.',
       'Executive81 HR Solutions Private Limited',
       'Azoca Technologies Llp', 'Willware Technologies Private Limited',
       'Sakesh Solutions LLC', 'STATS PERFORM', 'Infosys BPM Limited',
       'Hti Manpower Outsoursing Services Private Limited',
       'Orion India Systems Private Limited',
       'Xpetize Technology Solutions Private Limited',
       'Hical Technologies Private Limited',
       'Talent Ahead India Private Limited',
       'BNP Paribas India Solutions Private Limited', 'Gray Matrix',
       'CynLr', 'The Leaders Hive',
       'Paulwin George (Proprietor of Angel And Genie)',
       'Xoriant Corporation', 'Coforge Solutions Private Limited',
       'Novustribe Technology Private Limited', 'Mirchi', 'Bellurbis',
       'techcarrot', 'PHOTON', 'Ion', 'Siemens', 'Paytm',
       'Ncr Corporation', 'Brightly Software', 'Probo', 'GMG',
       'United Airlines', 'HCLTech', 'Trianz',
       'IPS Vantage Tech Services Private Limited',
       'Elios Technologies INC', 'Virtusa', 'Soulpage IT Solutions',
       'People Prime Worldwide Private Limited',
       'Sourceright Technologies (India) Private Limited',
       'Eminence Tech System Private Limited',
       'Gsparks Technology Services Private Limited',
       'Acesoft Labs India Private Limited', 'Clarivate',
       'HTC Global Services (India) Private Limited', 'Sapiens',
       'NTT DATA North America', 'Avalara Technologies', 'Adobe',
       'Coforge', 'Ericsson', 'Axa XL', 'Google Inc',
       'Fidelity Investments', 'ARi', 'Prodapt',
       'Walmart Global Tech India', 'HDFC', 'EXL', 'Kavi India',
       'SNN Analytics PVT LTD', 'TalentBasket',
       'eInfochips (An Arrow Company)', 'Azilen Technologies', 'GrowExx',
       'Simform', 'Loopio', 'Persistent', 'Tide', 'Microsoft',
       'Siemens Energy', 'Ontic', 'tiket.com', 'Level AI',
       'Liberin Technologies', 'GLW Technology Pvt. Ltd.',
       'EyeMantra Group of Hospital', 'Birdeye', 'Mott MacDonald',
       'Security and Intelligence Services', 'Aecome', 'Concentrix',
       'WNS', 'Stefanini North America and APAC',
       'BcForward India Technologies Private Limited',
       'Tech Mahindra Limited', 'VAYUZ Technologies', 'Signeasy',
       'Mogi I/O : OTT/Podcast/Short Video Apps for you', 'Digantara',
       'Oleria', 'frog', 'Mesh', 'Accion Labs', 'Livspace',
       'Siemens Healthineers', 'HDFC Bank', 'Broadridge', 'Qentelli',
       'Pepsico india', 'Barru Wehmiller', 'Fanatics',
       'ITVT India Private Limited', 'Seismic', 'Keka HR', 'Hyland',
       'Applexus Technologies', 'Accolite Software India Pvt Ltd',
       'Ara Resources Private Limited', 'Zensar Technologies',
       'Heptarc Technology Solutions Private Limited',
       'Anlage Infotech India Private Limited',
       'Brace infotech private limited', 'VidPro Consultancy Services',
       'Grid Dynamics', 'Purview India Consulting And Services Llp',
       'HSBC', 'Info Services', 'Experian', 'Micron', 'Nagarro',
       'TECHNIX TECHNOLOGY', 'Talent Worx', 'Gramener',
       'DXC Consulting & Engineering Services', 'KPMG India',
       'NuStar Technologies', 'NatWest Group'], dtype=object)

In [33]:
linkedln_df['Company Name'] = linkedln_df['companyName']
naukri_df['Company Name'] = naukri_df['Company']
talent_df['Company Name'] = talent_df['company_name']
monster_df['Company Name'] = monster_df['company_name']

In [34]:
linkedln_df['Job Title'] = linkedln_df['title']
naukri_df['Job Title'] = naukri_df['Job Title']
talent_df['Job Title'] = talent_df['job_title']
monster_df['Job Title'] = monster_df['job_title']

In [35]:
linkedln_df['Source'] = linkedln_df['source']
naukri_df['Source'] = naukri_df['source']
talent_df['Source'] = talent_df['source']
monster_df['Source'] = monster_df['source']

In [36]:
selected_columns = ['Job Title', 'Company Name', 'Experience (In Years)', 'Experience Category', 'Industry', 'City', 'State', 'Country', 'Source']

In [37]:
cleaned_linkedln_df = linkedln_df[selected_columns].copy()
cleaned_monster_df = monster_df[selected_columns].copy()
cleaned_talent_df = talent_df[selected_columns].copy()
cleaned_naukri_df = naukri_df[selected_columns].copy()

In [ ]:
cleaned_linkedln_df
cleaned_monster_df
cleaned_talent_df
cleaned_naukri_df

In [54]:
cleaned_linkedln_df['Company Name'].isna().unique()

array([False])

In [50]:
cleaned_naukri_df

,Job Title,Company Name,Experience (In Years),Experience Category,Industry,City,State,Country,Source
0,Asst. Manager- Civil Maintenance (Retail),DMart,2.5,Junior,Finance,Mumbai,Maharashtra,India,Naukri
0,Asst. Manager- Civil Maintenance (Retail),DMart,2.5,Junior,Finance,Jaipur,Rajasthan,India,Naukri
0,Asst. Manager- Civil Maintenance (Retail),DMart,2.5,Junior,Finance,Bengaluru,Karnataka,India,Naukri
1,GN - Management Consulting - Life Sciences - A...,Accenture,0.5,Entry,Consulting,Mumbai,Maharashtra,India,Naukri
1,GN - Management Consulting - Life Sciences - A...,Accenture,0.5,Entry,Consulting,Gurgaon,Haryana,India,Naukri
...,...,...,...,...,...,...,...,...,...
5676,Tracxn - Finance Manager,Tracxn,5.5,Mid-Level,Finance,Bengaluru,Karnataka,India,Naukri
5677,GMS-Manager-Functional Architect Business Analyst,EY,8.0,Senior,Software Development,Bengaluru,Karnataka,India,Naukri
5678,Tririga Admin,Capgemini,6.5,Senior,Other,Bengaluru,Karnataka,India,Naukri
5679,Software Development Engineer,Amazon,5.5,Mid-Level,Software Development,Bengaluru,Karnataka,India,Naukri
5680,Dotnet Full stack Developers with React _ Bang...,Star Light Hr Consulting,3.0,Junior,Web Development,NaN,NaN,NaN,Naukri

- Job Title
- Company Name
- Experience (in years) -- will be the digits like 1, 6, 3.6, etc
- Experience Category -- Junior, Entry, Senior, etc
- City
- State
- Country
- Industry (Software Development, Cloud, Management, etc)
- Source

In [ ]:
linkedln_df['state'].unique()

In [ ]:
# 5. Apply city extraction
demo_df[['City', 'State', 'Country']] = demo_df['location'].apply(
    lambda loc: pd.Series(extract_cities_and_states(loc))
)

In [ ]:
# 6. Explode into multiple rows if multiple cities exist
demo_df = demo_df.explode(['City', 'State', 'Country'])

In [ ]:
demo_df

In [ ]:
demo_df = monster_df.head(6).copy()

In [ ]:
a, b, c = extract_cities_and_states('Technical understanding of Mainframe applications and tools (TSO, IPSF, datasets, resou...')

In [ ]:
a
b
c

In [ ]:
known_cities = set([
    "noida", "gurgaon", "delhi", "mumbai", "bangalore", "bengaluru", "hyderabad",
    "chennai", "pune", "kolkata", "ahmedabad", "jaipur", "indore", "coimbatore",
    "kochi", "surat", "vadodara", "remote", "work from home"
])

def clean_location_string(text):
    """Standardize and normalize location string."""
    if pd.isna(text): return ""
    text = str(text).lower().strip()
    text = text.replace("work from home", "remote")
    text = re.sub(r'\s*[,/;|&]\s*', ' / ', text)  # Normalize separators
    text = re.sub(r'\s+', ' ', text)  # Remove extra spaces
    return text
    
location_str = 'Hybrid - Pune(Bund Garden), Mumbai (All Areas)(Andheri)'
cleaned = clean_location_string(location_str)
parts = re.split(r'\s*/\s*', cleaned)

found_cities = set()

for part in parts:
    for city in known_cities:
        if city in part:
            found_cities.add(city.capitalize())
found_cities

In [ ]:
naukri_df['Location'].unique()